DB_SECRET_KEY=changeme_django_secret_key
DEBUG=False
DJANGO_ENV=prod
DJANGO_ALLOWED_HOSTS=example.com,www.example.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://example.com,https://www.example.com

DB_ENGINE=django.db.backends.postgresql
DB_NAME=changeme_dbname
DB_USERNAME=changeme_dbuser
DB_PASSWORD=changeme_dbpassword
DB_HOST=db-prod
DB_PORT=5432

POSTGRES_DB=changeme_dbname
POSTGRES_USER=changeme_dbuser
POSTGRES_PASSWORD=changeme_dbpassword

GOOLE_MAP_API_KEY=changeme_or_leave_blank

MAILJET_API_KEY=changeme_mailjet_api_key
MAILJET_SECRET_KEY=changeme_mailjet_secret_key

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=in-v3.mailjet.com
EMAIL_PORT=587
EMAIL_HOST_USER=changeme_same_as_MAILJET_API_KEY
EMAIL_HOST_PASSWORD=changeme_same_as_MAILJET_SECRET_KEY
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=changeme_a_sender_address_validated_in_mailjet

PASSWORD_RESET_TIMEOUT=3600
PASSWORD_RESET_DEEP_LINK=alael8ahwa://reset-password

NUM_PROXIES=1
THROTTLE_LOGIN_IP=10/min
THROTTLE_LOGIN_ACCOUNT=20/hour
THROTTLE_PASSWORD_RESET_EMAIL=3/hour
THROTTLE_PASSWORD_RESET_IP=10/hour

CLOUDINARY_URL=cloudinary://changeme_api_key:changeme_api_secret@changeme_cloud_name
AVATAR_SIGNATURE_TTL=600
AVATAR_RENDER_SIZE=256
