DB_SECRET_KEY=changeme_django_secret_key
DEBUG=False
DJANGO_ENV=prod
DJANGO_ALLOWED_HOSTS=example.com,www.example.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://example.com,https://www.example.com

DB_ENGINE=django.db.backends.postgresql
DB_NAME=changeme_dbname
DB_USERNAME=changeme_dbuser
DB_PASSWORD=changeme_dbpassword
DB_HOST=db-prod
DB_PORT=5432

POSTGRES_DB=changeme_dbname
POSTGRES_USER=changeme_dbuser
POSTGRES_PASSWORD=changeme_dbpassword

GOOLE_MAP_API_KEY=changeme_or_leave_blank
